In [1]:
import pyspark
import pandas as pd

pd.read_csv("Test1.csv")

       Name  Age  Experience
0     Krish   31          10
1  Sudhansh   30           8
2     Sunny   29           4

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [4]:
spark

In [5]:
df = spark.read.csv("Test1.csv")

In [6]:
df = spark.read.option("header", "true").csv("Test1.csv")

In [7]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)