In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [3]:
spark

In [18]:
df = spark.read.option("header", "true").csv("test1.csv", inferSchema = True)

In [21]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [22]:
df = spark.read.csv("Test1.csv", header =  True, inferSchema = True)
df.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [23]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [24]:
type(df)

pyspark.sql.dataframe.DataFrame

In [26]:
df.head(10)

[Row(Name='Krish', Age=31, Experience=10),
 Row(Name='Sudhansh', Age=30, Experience=8),
 Row(Name='Sunny', Age=29, Experience=4)]

In [32]:
df.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [37]:
df.select("Name", "Experience").show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Krish|        10|
|Sudhansh|         8|
|   Sunny|         4|
+--------+----------+

In [49]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [51]:
df.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [58]:
df = df.withColumn("Experience After 2 years", df["Experience"] + 2)

In [59]:
df.show()

+--------+---+----------+------------------------+
|    Name|Age|Experience|Experience After 2 years|
+--------+---+----------+------------------------+
|   Krish| 31|        10|                      12|
|Sudhansh| 30|         8|                      10|
|   Sunny| 29|         4|                       6|
+--------+---+----------+------------------------+

In [61]:
df = df.drop("Experience After 2 years")
df.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [64]:
df.withColumnRenamed("Name", "New Name").show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+