In [13]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("dataframeyamum").getOrCreate()

In [14]:
df = spark.read.csv("test1based.csv", header = True, inferSchema = True)
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
## Filter operations

In [28]:
## People will Salaries <= 20,000
df_new = df.filter("Salary <= 20000")

In [50]:
df_new.select("Name", "Age").show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [54]:
df.filter((df["Salary"]<=20000) & (df["Salary"]>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [55]:
df.filter(~(df["Salary"]<=20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+